header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 16px;
	margin-bottom: 25px;
	border-bottom: 1px solid #e0dada;
}

main {
	flex: 1 1 0;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}

footer {
	display: flex;
	justify-content: center;
	gap: 96px;
	height: 50px;
	padding: 24px 0 48px;
	color: #b3adad;
}

.corporation {
	align-self: flex-end;
}
